<div class="p-3 mt-2 mb-2">
    <div>
        <form [formGroup]="frmPassword">
            <div class="mb-5">
                <label for="password">Nueva Contraseña</label>
                <input id="password" formControlName="password" type="password" placeholder="Nueva Contraseña" class="form-input " x-model="params.user">
            </div>
            <div class="mb-5">
                <label for="passwordConfirm">Confirmar Contraseña</label>
                <input id="passwordConfirm"  formControlName="passwordConfirm" type="password" placeholder="Confirmar contraseña" class="form-input" x-model="params.password">
                <!-- <div *ngIf="!frmUsuario.controls.passwordConfirm.valid && frmUsuario.controls.passwordConfirm.touched" class="text-danger">
                    * La contraseña debe contener al menos 8 caracteres
               </div> -->
            </div>
            <div *ngIf="showErrorMessage" class="text-danger">
                 * {{errorMessage}}
            </div>
            <div class="mt-8 flex items-center justify-end">
                <button type="button" class="btn btn-outline-danger" (click)="onNoClick()" >
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success ltr:ml-4 rtl:mr-4"  (click)="VerifyPassWords()"  >Guardar</button>
            </div>
        </form>
    </div>
</div>