<h2>Asignaccion de Acciones a Rol</h2>
<div class="panel mb-2" >
    <div >
        <div class="mb-5">
            <label for="rol">Selecionar Rol:</label>
            <select id="rol" name="rol" class="form-select flex-1" [(ngModel)]="selectedRol" (change)="getSelectedRol()">
                <option *ngFor="let rol of listaRoles" [ngValue]="rol.publicId" >{{rol.rol}}</option>
            </select>
        </div>
    </div>
    <div class="panel">
        <app-acciones-listado [listaAcciones]="listaAcciones" [checkedAcciones]="listRolAcciones" (actionSelected)="accionCheckEvent($event)" ></app-acciones-listado>
    </div>
</div>