<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true"
         >
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Productos">
            <file>./tests/UnitTests/ProductosRepositoryTests.php</file>
            <file>./tests/UnitTests/ProductoServiceTests.php</file>
            <file>./tests/UnitTests/ProductoMapperTests.php</file>
        </testsuite>
        <testsuite name="Categorias">
            <file>./tests/UnitTests/CategoriasRepositoryTests.php</file>
            <file>./tests/UnitTests/CategoriasMapperTests.php</file>
            <file>./tests/UnitTests/CategoriasServiceTests.php</file>
        </testsuite>
        <testsuite name="Atributos">
            <file>./tests/UnitTests/AtributosRepositoryTests.php</file>
            <file>./tests/UnitTests/AtributoMapperTests.php</file>
            <file>./tests/UnitTests/AtributosServiceTests.php</file>
        </testsuite>
        <testsuite name="All">
            <file>./tests/UnitTests/ProductosRepositoryTests.php</file>
            <file>./tests/UnitTests/ProductoServiceTests.php</file>
            <file>./tests/UnitTests/ProductoMapperTests.php</file>
            <file>./tests/UnitTests/CategoriasRepositoryTests.php</file>
            <file>./tests/UnitTests/CategoriasMapperTests.php</file>
            <file>./tests/UnitTests/CategoriasServiceTests.php</file>
            <file>./tests/UnitTests/AtributosRepositoryTests.php</file>
            <file>./tests/UnitTests/AtributoMapperTests.php</file>
            <file>./tests/UnitTests/AtributosServiceTests.php</file>
        </testsuite>
    </testsuites>
   <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>
</phpunit>
