<div style="text-align: center; align-items: center;">
    <mat-dialog-content>
        <table style="text-align: center;">
            <tr >
                <td align="left">
                    <img src="/assets/images/error_icon.png" width="128px" >
                </td>
                <td align="left" class=" " style="padding-left: 15px; font-size: 12px;">
                    <h3>{{message}}</h3>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <div>
                        <button class="btn btn-small btn-danger" mat-button mat-dialog-close>Cerrar</button>
                    </div>
                </td>
            </tr>
            
        </table>
    </mat-dialog-content>
</div>
