<div class="panel">
    <table >
        <thead>
            <tr>
                <th>Rol</th>
                <th class="!text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of RolesList">
                <td>
                    {{rol.rol}}
                </td>
                <td>
                    <div class="flex items-center justify-center gap-4">
                        <button *ngIf="rol.rol!=='ADMIN'" type="button" class="btn btn-sm btn-outline-danger" (click)="DeleteRol(rol)"  >
                            Eliminar
                        </button>
                        <button *ngIf="rol.rol!=='ADMIN'" type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['acciones', rol.publicId]"> 
                            Asignar Acciones
                        </button>    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>